/**********  Color corporativo primario para background **********/
.brand-color{background-color: #ffffff !important; color: #444444 !important; }
/**********  Color corporativo primario para texto (Títulos, SUbtitulos, etc.)**********/
.brand-txt{color: #004a93 !important; }
/**********  Colores secundarios para texto **********/
.blue {color: #003781;}
.purple {color: #9B59B6;}
.green {color: #6dc51e ; }
.aero {color: #9CC2CB; }
.red {color: #E74C3C; }
.dark {color: #004a93; }
.yellow {color: #ec971f; }

/**********  Tipo de fuente predeterminado y Background del Sitio**********/
body, html {
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    background-color: #E8E8E8; 
}
/*******  Lineas tomadas de carpeta CSS *******/
.header h1 {padding: 0; position: relative; margin-left: 8em; padding-left: 15px; line-height: 1.75em; top: 0; }
.logo{position: absolute; max-width: 200px; display: block; background-image: url(../img/10579.svg);width: 200px;height: 70px;  margin-left:  -1em;}
.grid-title-group small {font-weight: bold; color: #EDC801; font-size: 1.5em; }
.grid-title-group div{ background-color: rgb(49, 45, 41)}
.sidebar.modal .modal-content .modal-body .link { color: #444444 !important; display: block; line-height: 2em; }
.area-hide {color: #444444; border-top: 1px solid rgba(255,255,255,0.5);padding-top: 10px;
border-bottom: 1px solid rgba(255,255,255,0.5);margin: 10px 0;overflow: auto;display: none;
position: relative; z-index: 1; }

/**********  Fuentes **********/
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/opensans/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/opensans/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans/opensans_bold/OpenSans-Bold-webfont.eot');
    src: url('fonts/opensans/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/opensans/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/opensans/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('fonts/opensans/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.eot');
    src: url('fonts/opensans/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('fonts/opensans/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('fonts/opensans/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans/opensans_light/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/opensans_light/OpenSans-Light-webfont.woff') format('woff'), url('fonts/opensans/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/opensans/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**********  Tamaño de Fuentes **********/
h1 {font-size: 1.6em; margin: .5em 0;}
h3 {font-size: 1.2em; line-height: 1.2em; }
h4 {font-size: 1em; line-height: 1.3em; }
p {font-size: 0.8125em; line-height: 1.3em; margin: 0; text-overflow: ellipsis; }
/**********  Configuración de Fuentes para Elementos Especéficos **********/
/* Color de tipografía Título del header del sitio */
.header h1{
	color: #EDC801;
	border-left: 1px solid rgba(68, 68, 68, 1) ;
}
/* Tipografía de Títulos y Subtítulos */
.header h1, h4, h3,
.box-form h3 small {
	font-family: 'open_sanslight',
	Helvetica, Arial, sans-serif;
}

/* Colores de Tipografía*/
.services-header h3, .services-header .form-user ul li label {
    color: #505050 !important;
}
.services .services-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.title-group{color: #2d2a23; border-right: 1px solid rgb(49, 45, 41); }
.title-group small {font-weight: bold; color: #000000; font-size: 1em; }
.subtitle {color: #000; text-transform: uppercase; margin-bottom: .5em; }
.user-profile span{color: #000000;}
.user-profile span i {color: #000000;}
.user-profile i {color: #000000;}

.dropdown-menu > li > a{color: #333;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none; color: #262626; background-color: #f5f5f5; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    color: #fff; text-decoration: none; outline: 0; background-color: #337ab7; }
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777;
}
.dropdown-header{color: #777;}

/* Configuración de Mensajes y Notificaciones  */
.managing-mss, .notice-system, .help-center {
	font-family: 'open_sanssemibold_italic',Helvetica, Arial, sans-serif;
}

/* Tipografía de Botones y links */
.btn,
.dropdown-menu h3,
.wrap-bottom label,
.nav-list li a,
.invoice-list ul li label, .invoice-table li label,
.notice-system strong {
	font-family: 'open_sansbold', Helvetica, Arial, sans-serif;
}

/**********  Imagen del Usuario  **********/
.user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    background-image: url('../img/img.jpg');
    background-size: cover;
	background-color: #312D29;
}

/* Configuración de área de avisos en la parte inferior*/
.message-bottom {
	width: 100%;
	padding: 0;
	margin: 1em 0 0 0;
	background: #ffffff;
	display: inline-block;
	position: relative;
	bottom: 40px;
}
.message-bottom .content {padding: 1em; }
.message-bottom p {color: #000; text-align: center;}

/**********  Configuración de Botones (Tamaño de fuente, tamaño del botón, bordes, etc.) **********/
.btn {
	display: inline-block;
	padding: .5em 1.2em;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-column-break-inside: avoid;
	/* Chrome, Safari, Opera */ page-break-inside: avoid;
	/* Firefox */ break-inside: avoid; /* IE 10+ */
	cursor: pointer; outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #444444;
	border-radius: 5px;
	text-transform: uppercase;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover {text-decoration: none; }
.btn.active, .btn:active {background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); box-shadow: inset 0 3px 5px rgba(0,0,0,.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65; }
/* Botón en bloque, ancho al 100%*/
.btn-block {display: table; width: 100%;}
/**********  Botones Biestado (Habilitar o deshabilitar elementos) **********/
.btn-menu-off {color: rgba(255, 255, 255, 0.7); }
.btn-menu-on {color: rgb(49, 45, 41); padding-bottom: 10px; border-bottom: 4px solid #fff; }
/**********  Botones Especiales**********/
/* Botón para Confrimar Pago, Realizar Pago y Agregar a Carrito de Compra */
.btn-pay {
    color: #ffffff;
    width: 100%;
    line-height: 1.8em;
    border-color: #5ac517;
    background: #5ac517; /* Old browsers */
    background: -moz-linear-gradient(top, #5ac517 1%, #379608 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5ac517 1%,#379608 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5ac517 1%,#379608 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.btn-pay:hover {color: #ffffff; background-color: #6dc51e; border-color: #6dc51e; }
/* Botón de Descarga de Documentos */
.btn-download {font-size: .7em; color: #b5b5b5; float: right; }
.btn-download:hover {color: #5ac517; }
/* Botones con iconos a los costados*/
.btn-icon-right, .btn-icon-left {margin: .5em 0; width: 100%;}
.btn-icon-right {text-align: left;}
.btn-icon-left {text-align: right;}

.arrow-right::before, .arrow-left::before{font-family: 'FontAwesome'; position: absolute; font-weight: bold; }
.arrow-right::before{content: "\f105"; right: 10px; }
.arrow-left::before{content: "\f104"; left: 10px;}
/* Botón sin fondo y con stroke claro*/
.btn-line-white {color: #000000; border-color: #000000; text-transform: uppercase;}
.btn-line-white:hover,
.btn-line-white:focus,
.btn-line-white:active,
.btn-line-white.active,
.open .dropdown-toggle.btn-line-white {background-color: rgba(255, 255, 255, 0.10); }
/* Botón sin fondo y con stroke oscuro*/
.btn-line-dark {color: #333; border-color: #333; text-transform: uppercase;}
.btn-line-dark:hover,
.btn-line-dark:focus,
.btn-line-dark:active,
.btn-line-dark.active,
.open .dropdown-toggle.btn-line-dark {background-color: rgba(0, 0, 0, 0.10); }
/* Botón Default*/
.btn-default {
    color: #004a93;
    overflow: auto;
    cursor: pointer;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dbd9d9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dbd9d9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#dbd9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #b5b5b5;
}
.btn-default:hover {color: #333; background-color: #ffffff; border-color: #dadada; }
/* Botón Gris*/
.btn-gray {background-color: #333; color: #ffffff; }
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {background-color: #b5b5b5 ; color: #ffffff ; }
/* Clase para indicar que el texto es un link*/
.link {display: inline-block; color: #337ab7; line-height: 2.4em; }
.link:hover{text-decoration: underline; }
/* Botón desigando a elementos de busqueda*/
.btn-info {color: #fff; background-color: #0fb4f3; border-color: #0fb4f3; }
.btn-info.focus, .btn-info:focus {color: #fff; background-color: #31b0d5; border-color: #1b6d85; }
.btn-info:hover {color: #fff; background-color: #31b0d5; border-color: #269abc; }
.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {color: #fff; background-color: #31b0d5; border-color: #269abc; }
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {background-image: none; }
.btn-info.disabled.focus, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled].focus, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
}
/* hover para Botones que contengan  la clase brand-color*/

button[class~="brand-color"]:hover {background-color: # !important; }
button{border-color: #444444 !important; }
button[class~="brand-color"]:hover {color: #ff0000 !important; }
button[class~="brand-color"]:hover {border-color: #ff0000 !important; }

@media (max-width: 550px) {
    .width-form .modal-content {
        background-color: #f1f1f1 !important;
    }

}

/**********  Configuración de Contenedor Login **********/
.bg-login {
	background-image: url('../img/box_login.png');
	width: 555px; 
	display:none;
}
.bg-login .box-form {
    width: 250px;
    left: 50%;
    position: relative;
    display: inline-block;
    top: 1em;
}
.box-login .input-group {margin-bottom: .5em; }

/**********  Configuración de Contenedor Sin Formulario  **********/
.bg-services {background-image: url('../img/services.png'); width: 300px; }
.bg-services .x-box {color: #ffffff; position: relative; top: 65%; }
.bg-services h3 {margin-bottom: 1em; }

/**********  Configuración Timeline **********/
.progress {position: relative; height: 3px; background-color: #ffffff; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); padding: 0; margin-bottom: 1em;width: 100%; display: block; }
.step {float: left; height: 100%; font-size: 12px; line-height: 20px; width: 33.333%; }
.done {background: #0468cd; }
.step:after {position: absolute; margin-left: 13%; margin-top: -10px; background: #0468cd; color: #fff; border-radius: 30px; text-align: center; padding: 2px; width: 21px; height: 21px; padding-top: 0px; font-weight: bold; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
.step01:after {content: "1"; }
.step02:after {content: "2"; }
.step03:after {content: "3"; }

/**********  Configuración de Mensajes, ALertas y Notificaiones **********/
/* Mensajes del Comercio y Notificación de Transacción (debajo de header)*/
.alert {
	width: 100%;
	font-size: 1.1em;
	border-radius: 0;
	padding: .3em 3%;
	float: left;
	opacity: 1;
	margin-bottom: 0 !important;
}
.alert .content {padding: 0 !important; }
.alert > p, .alert > ul {margin-bottom: 0; margin: 0 0 10px; }
.alert > p, .alert > ul {margin-bottom: 0; }
.alert > p + p {margin-top: 5px; }
/* Transacción Aprobada */
.alert-success {color: #fff; background-color: #dff0d8; border-color: #d6e9c6; }
.alert-success p, .alert-success i{color: #ffffff}
/* Transacción Rechazada */
.alert-declined {color: #fff; background-color: #E74C3C; border-color: #E74C3C; }
.alert-declined p, .alert-declined i{color: #ffffff}
/* Mensajes de Negocio */
.business {color: #333333; background: #f8f7bc !important; border-bottom: 1px solid #c7c7c7; }
.business a {color: #333; float: right; }
.business i, .system i, .alert-success i, .alert-declined i {float: left; position: relative; margin-top: 3px; }
.business p, .system p, .alert-success p, .alert-declined p {line-height: 16px; margin-left: 10px; width: 85%; display: inline-block; } /**********  End Alert **********/

/* Configuración ayuda para usuario*/
.box-group .form-user ul .help-user .dropdown-menu {
    top: .25em !important;
    background: #333;
    color: #fff;
    min-width: 15em;
    margin: 0;
    position: relative;
}

/* Configuración Alertas del Sistema*/
.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}

.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}

.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.alert-success {
    color: #ffffff;
    background-color: rgba(90, 197, 23, 0.96);
    border-color: rgb(90, 197, 23);
}

.alert-info {
    color: #E9EDEF;
    background-color: rgba(15, 180, 243, 0.96);
    border-color: rgba(15, 180, 243, 0.96);
    border-radius: 5px;
}

.alert-warning {
    color: #E9EDEF;
    background-color: rgba(29, 29, 29, 0.96);
    border-color: rgba(0, 0, 0, 0.96);
    border-radius: 5px;
}

.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
}

.empty-input {
    background-color: #fff3f3;
    border: 1px solid red;
}

.help-center {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

.managing-mss, .notice-system, .help-center {
    color: #71777f;
    background: #f4f6f3;
    padding: .7em;
}

.help-center li {
    margin: .9em .5em;
    font-size: .9em;
}

.notice-system {
    border-top: 1px solid #c1c1c1;
    display: block;
    width: 100%;
    overflow: auto;
}

.notice-system strong {
    font-size: 95%;
}

/**********  Input & Groups **********/
.input-group-addon{color: #ffffff; background-color: #b5b5b5; border: 1px solid #b5b5b5; }
/* Configuración de Filtros*/
.filter .input-group-addon{color: #ffffff;background-color: #0fb4f3;border: 1px solid #0fb4f3;}
.filter{display: table; border: 1px solid rgba(0, 0, 0, 0.2); padding: .5em 0; background: rgba(0, 0, 0, 0.1); width: 100%;}
.input-amount .form-control {min-height: 32px; background-color: #ffffff !important; border: 1px solid #b5b5b5 !important; }
.input-amount .icon-edit {line-height: 2em !important; }
.input-group-icon .icon-edit {position: absolute;top: 0;left: 5px; line-height: 1.5em; z-index: 99; color: #b5b5b5; }
/* Configuración de Formularios*/
.form-control {color: #555; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; }
.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .form-control::-ms-expand
{color: #999; opacity: 1; }


/**********  División **********/

.ln_solid {border-top: 1px solid #aaaaaa; color: #ffffff; background-color: #c7c7c7; height: 1px; margin: .8em 0; }}


/**********  Configuración de Tabla **********/
.table-header li {color: #666666;}
.table-header .active {
    color: #004a93 !important;
    border-bottom: 4px solid #004a93;
    padding-bottom: .9em;
}

.table-striped > tbody > .credit {background-color: #daf3c9; }
.table-striped > tbody > .expired {background-color: #f3c9c9; }
.table-striped > tbody > .overcome {background-color: #f5e8a7; }

.diseable {
    color: #666666;
    border-bottom: none;
    padding-bottom: none;
}

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
    border: 1px solid #E7E7E7 !important;
    background: #E7E7E7 !important;
    box-shadow: none !important;
}

table.jambo_table tbody tr {
    border-bottom: 5px solid #f1f1f1;
    border-top: 5px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    background-color: #ffffff;
}

table.jambo_table tbody td {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
table.jambo_table thead {
    background: #004a93;
    color: #ECF0F1;
    border-radius: 5px;
    overflow: hidden;
}

table.jambo_table tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}

table.jambo_table tbody tr.selected {
    background: rgba(15, 180, 243, 0.14);
}

table.jambo_table tbody tr.selected td {
    border-top: 1px solid rgba(38, 185, 154, 0.40);
    border-bottom: 1px solid rgba(38, 185, 154, 0.40);
}
table.invoice_table tbody tr {
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #ffffff;
}

.dataTables_paginate a {
    background: #ff0000;
}
.dataTables_wrapper{color: #505050;}

.dataTables_processing { border: 1px solid #ddd;color: #999;}



.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #004a93 !important;
    border-color: #004a93 !important;
    color: #fff !important;
}

table.tile th {
    border-bottom: 1px solid #E6ECEE;
}

.table-header .form-user ul li label {
    color: #fff;
    text-transform: none;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next { color: #111 !important;}

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}


.table-header {
    background-color: white;
    background-repeat: no-repeat;
}

#PagePlaceHolder_pnlLogin{
    display: none !important;
}